/* src/components/Sidebar.module.css */
.sidebar {
    width: 30%; /* Fixed width for the sidebar */
    height: 100vh; /* Full height of the viewport */
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 1rem;
  }
  
  .sidebar a {
    color: #101010; /* Light text color */
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar a:hover {
    background-color: #34495e; /* Darker background on hover */
  }